
<div class="footer">

    <div class="footer-para">Lorem ipsum dolor sit amet consectetur. Magna integer enim vitae vulputate eu vitae tristique.</div>

    <div class="Genral-Content">
        <table>
            
                <tr>
                    <th class="genContent-heading">General</th>
                </tr>
          
                <div class="genContent-data"><tr>
                    <td id="gen-data">About Us</td></tr>
                    <tr> <td id="gen-data">Pricing</td></tr>
                     <tr><td id="gen-data">Contact Us</td></tr>
                    <tr> <td id="gen-data">Courses</td> </tr></div>
           
        </table>
    </div>

    <div class="Policies-Content">
        <table>
            
                <tr>
                    <th class="PoliContent-heading">Policies</th>
                </tr>
          
                <div class="PolContent-data"><tr>
                    <td id="Policies-data">Security safeguards</td></tr>
                    <tr> <td id="Policies-data">Terms of service</td></tr>
                     <tr><td id="Policies-data">Privacy</td></tr>
                    <tr> <td id="Policies-data">Accessibility</td> </tr></div>
           
        </table>
    </div>


    <div class="Get-touch-Content">

        <table>
            <tr><th class="Get-touch-Heading">Get in touch</th></tr>

            <div class="Get-touch-data">
                <tr>
                    <td id="content-data">
                        Follow us on social media and stay updated with the latest information about our services
                    </td>
                </tr>

                <tr>
                    <div>
                        <td >
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </td>
                    </div>
                </tr>

            </div>
        </table>

    </div>

</div>