
<div class="footer">

    <div class="footer-middle">

        <div class="footer-para">Lorem ipsum dolor sit amet consectetur. Magna integer enim vitae vulputate eu vitae tristique.</div>
    
        <div class="Genral-Content">
            <table>
                
                    <tr>
                        <th class="genContent-heading">General</th>
                    </tr>
              
                    <div class="genContent-data"><tr>
                        <td id="gen-data">About Us</td></tr>
                        <tr> <td id="gen-data">Pricing</td></tr>
                         <tr><td id="gen-data">Contact Us</td></tr>
                        <tr> <td id="gen-data">Courses</td> </tr></div>
               
            </table>
        </div>
    
        <div class="Policies-Content">
            <table>
                
                    <tr>
                        <th class="PoliContent-heading">Policies</th>
                    </tr>
              
                    <div class="PolContent-data"><tr>
                        <td id="Policies-data">Security safeguards</td></tr>
                        <tr> <td id="Policies-data">Terms of service</td></tr>
                         <tr><td id="Policies-data">Privacy</td></tr>
                        <tr> <td id="Policies-data">Accessibility</td> </tr></div>
               
            </table>
        </div>
    
    
        <div class="Get-touch-Content">
            <table>
                <tr><th class="Get-touch-Heading">Get in touch</th></tr>
                <div class="Get-touch-data">
                    <tr>
                        <td id="content-data">
                            Follow us on social media and stay updated with the latest information about our services
                        </td>
                    </tr>
                    <tr>
                            <td >
                                <div class="Social-Network">
                                <div class="facebook"><i class="fa fa-facebook" aria-hidden="true" id="fbicon"></i></div>
                               <div class="twitter"> <i class="fa fa-twitter" aria-hidden="true" id="tweeticon"></i></div>
                               <div class="instagram"> <i class="fa fa-instagram" aria-hidden="true" id="instaicon"></i></div>
                               <div class="youtube"> <i class="fa fa-youtube-play" aria-hidden="true" id="yticon"></i></div>
                                </div>
                            </td>   
                     </tr>
                </div>
            </table>
        </div>
    
            <div class="Subscribe-Content">
    
            <table>
                <tr><th class="Subscribe-heading">Subscribe to our Lorem</th></tr>
    
                <div class="Subscribe-data">
                    <tr>
                        <td id="Subscontent-data">
                            Lorem ipsum dolor sit amet consectetur. Velit enim est urna est massa cras. Sed varius convallis netus aliquet duis ut.
                        </td>
                    </tr>
    
                    <tr>
                        <th >
                            <div class="sub-email-content">
                                <input type="text" placeholder="Enter your mail" class="Subscribe-Input"><button class="subs-btn">Submit</button>
                            </div>
                        </th>
                    </tr>
                </div>
            </table>
    
        </div>
    
        
    
    
    </div>
    <div class="Compony-rights">2022 - @Lorem all right deserved</div>
</div>




