.loadimageone{
width: 1000px;
text-align: center;
height: 700px;
margin: 0 15%;
}

.Download{
    height: 30px;
    width: 150px;
    color: white;
    background-color: #E54A62;
    border-radius: 64.5px;
    text-align: center;
    padding-top: 10px;
    margin-left: 650px;
}
.content1{
    text-align: center;
}
.content2{
    text-align: center;
}

.Homepart1{
    /* //margin: 40px; */
    
    display: inline-flex;
    h2{
        margin-top: 110px;
        padding-left: 120px;
    }
    p{
        text-align: center;
    }

    img{
        height: 314px;
        width: 528px;
    }
}

.Homepart2{
    /* //margin: 40px; */
    
    display: inline-flex;
    margin-left: 120px;
    h2{
        margin-top: 60px;
        padding-left: 120px;
        width: 420px;
    }
    p{
        margin-left: 120px;
        width: 420px;

    }

    img{
        height: 354px;
        width: 378px;
    }
}

.FinanceMangmnt{
    display: inline-flex;
    .content{
        margin-left: 280px;
        margin-top: 90px;
        width: 650px;
    }
    p{
        width: 400px;
        font-size: 18px;
    }
    .SavingPlnImg{
        width: 450px;
        height: 360px; 
    }
}


#contentcenter{
    text-align: center;
    margin-top: 35px;
}



.Blackbox{
 width: 650px;
height: 240px;
margin-left: 450px;
margin-top: 15px;
gap: 0px;
opacity: 0px;
background-color: black;
display: inline-flex;
border-radius: 20px;

img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;



}
.boxcontent{
    color: white;
    margin-left: 40px;
    padding-top: 50px;
    width: 350px;
}
.learnbtn{
    height: 30px;
    width: 180px;
    border: 1px white solid;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

}



.UIBranding{
    display: inline-flex;
    margin-top: 25px;
    margin-left: 270px;

    .image{
        img{
            width: 350px;
        height: 350px;
       
        }
    }

    .content{
        margin-top: 120px;
        margin-left: 40px;
        p{
            font-weight:lighter;
            font-size: large;
        }
    }
}

.SecureCardAdd{
    display: inline-flex;
    margin-left: 270px;

    .image{
        img{
            width: 350px;
        height: 350px;
       
        }
    }

    .content{
        margin-top: 120px;
        margin-left: 40px;
        p{
            font-weight:lighter;
            font-size: large;
            width: 530px;
        }
    }
}

.OfferContent{
    text-align: center;
    p{
        font-weight: bold;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 45px;
    }
}




.UIPlans{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 540px;

    #planYear{
        margin-left: 25px;
        margin-top: 30px;
    }

    #BuyBtn{
        color: white;
        height: 30px;
        width: 170px;
        background-color: blue;
        border-radius: 25px;
        text-align: center;
        padding-top: 5px;
        margin-left: 20px;
    }
    

    .planone{
        height: 180px;
    width: 220px;
    border-radius: 20px;
    background-color: #22232A;
    color: white;
    }

    .plantwo{
        height: 180px;
        width: 220px;
        border-radius: 20px;
        background-color: #22232A;
        color: white;
        margin-left: 30px;
        
    }
}




.AppStoreBlock{
    width: 100%;
height: 370px;
margin-top: 30px;

 background: rgba(245, 247, 255, 1);

.AppStoreContent{
    margin-left: 100px;
    display: inline-flex;


    .MobileIconImg{
        margin-top: 40px;
        height: 300px;
        width: 150px;
        margin-left: 180px;
    }

    .contentBox{
        margin-top: 30px;
        width: 650px;
        margin-left: 30px;
        
        h2{
            width: 320px;
            margin-left: 100px;
            margin-top: 80px;
            font-family: 'Times New Roman', Times, serif;

        }
        
        .ContentImage{
            display: inline-flex;
            margin-left: 100px;

            .AppleStoreIcon{
                height: 40px;
            }
            .GoogleStoreIcon{
                height: 40px;
                margin-left: 10px;

            }

        }
    }

}

}



.SavingContent{
    display: inline-flex;
    .content{
        margin-left: 280px;
        margin-top: 90px;
        width: 650px;
    }
    .SavingPlnImg{
        width: 300px;
        height: 300px; 
    }
}


.SecurityMeasures{
    background-color: black;
    width: 100%;
    height: 300px;
    margin-top: 10px;

    h1{
        padding-top: 35px;
    }
    .ContentBox{
        display: inline-flex;
        margin-left: 350px;
        #boxHeading{
            
            color: rgba(92, 89, 193, 1);

        }
        .Contentone{
            width: 400px;
            height: 150px;
            background-color: white;
            margin-left: 20px;
          border-bottom-right-radius: 200px 200px;
          border-top-right-radius: 20px;
          border-top-left-radius:20px;
          border-bottom-left-radius: 20px;

          h3{
            margin-left:25px ;
          }
          p{
            width: 270px;
            margin-left: 25px;
          }
        }
        .ContentTwo{
            width: 400px;
            height: 150px;
            background-color: white;
            margin-left: 20px;
          border-top-left-radius: 200px 200px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-top-right-radius: 20px;

          h3{
            margin-left:125px ;
          }

          p{
            width: 320px;
            margin-left: 45px;
          }
        }
    }
   
}

.footer{
    margin-top: 50px;
}


