

    <app-header></app-header>

<h1 class="content1">Never worry about your <span id="Orange">EMIs</span > and <span id="Orange">Credit</span> card bills</h1>
<div class="Download">Download App</div>
<img [src]="'assets/' + homeimage1" class="loadimageone" alt="content1" >

<h2 class="content2">Make your life easier and <span id="Orange">systematically</span></h2>
<p class="content2">No worries, UIPE will remind you before the due date with balance reminder</p>

<div class="Homepart1">
    <div>
        <h2>Relax yourself when you have multiple <span id="Orange">EMI and credit card bills.</span></h2>
        <p>we manage all your loans and Credit card bills at one place and never miss to pay.</p>
    </div>
    <div >
        <img [src]="'assets/' + homeImagetwo" class="loadimageone" alt="content1" >
    </div>
</div>

<div class="Homepart2">
    
    <div >
        <img [src]="'assets/' + HomeImageThree" class="loadimageone" alt="content1" >
    </div>

    <div>
        <h2>Set the uses of the <span id="Orange">payment card as appropriate.</span></h2>
        <p>you can choose add and manage the use of payment card as you need</p>
    </div>
</div>

<div class="Homepart1">
    <div>
        <h2>Worried about<span id="Orange">  tracking your bills.</span></h2>
        <p>UIPE will track yours bills gives you real time notifications.</p>
    </div>
    <div >
        <img [src]="'assets/' + HomeImageFour" class="loadimageone" alt="content1" >
    </div>
</div>

<div class="Homepart2">
    
    <div >
        <img [src]="'assets/' + HomeImageFive" class="loadimageone" alt="content1" >
    </div>

    <div>
        <h2>Worried about your mutliple <span id="Orange">EMI loan and credit card statement.</span></h2>
        <p>UIPE provides all your bills up to date statement and makes your life easier.</p>
    </div>
</div>


<h1 id="contentcenter">Get rewards on paying EMI and <span id="Orange">Credit card bills.</span></h1>

<div class="Blackbox">
    <div class="boxcontent">
        <p>pay your EMI and Credit card bills and get UI coins and rewards</p>
        <div class="learnbtn">Learn More</div>
    </div>
    <img [src]="'assets/' + RewardIcon" class="RewardIcon" alt="content1" >
</div>




<h1 id="contentcenter">We extended your favorite <span id="Orange">voucher for 3 months.</span></h1>

<div class="Blackbox">
    <div class="boxcontent">
        <p>We extended your favorite voucher on your brands for 3 months.</p>
        <div class="learnbtn">Learn More</div>
    </div>
    <img [src]="'assets/' + RewardBoxIcon" class="RewardIcon" alt="content1" >
</div>



<div class="UIBranding">
    <div class="image">
        <img [src]="'assets/' + UiCoinsBrand" class="RewardIcon" alt="content1" >
    </div>

    <div  class="content">
        <h1>Use <span id="Orange">UI coins</span> to buy on your brands.</h1>
        <p>Use our UI coins to your favourite brands</p>
    </div>
</div>

<div class="SecureCardAdd">
    <div class="image">
        <img [src]="'assets/' + SecureCreditCard" class="RewardIcon" alt="content1" >
    </div>

    <div  class="content">
        <h1><span id="Orange">UI credit</span> card is secured than ever before.</h1>
        <p>Lossing your money for untap paid bills, don’t worry get the notification for taping and accpet it and pay it.</p>
    </div>
</div>


<div  class="OfferContent">
    <p>The best offer never before 6X rewards on your top spends</p>
    <p>You can convert your spends into EMI With UI app</p>
    <p>Get discounts on your favorites movies tickets, by using UIPe Credit card</p>
</div>


<div class="UIPlans">
    <div class="planone">
        <h4 id="planYear">1st Year</h4>
        <p id="planYear">No joining fees</p>

        <div id="BuyBtn">Buy</div>
    </div>

    <div class="plantwo">
        <h4 id="planYear">2nd Year  Onwards</h4>
        <p id="planYear">799 / year</p>
        <div id="BuyBtn">Buy</div>
    </div>
</div>




<div class="AppStoreBlock">
    <div class="AppStoreContent">
        <div>
            <img [src]="'assets/' + MobileIcon"  alt="content1" class="MobileIconImg">
        </div>
        <div class="contentBox">
            <h2><span id="Orange">Managing your finance </span> us is a tap away</h2>
            <div class="ContentImage">
                <div><img [src]="'assets/' + AppleStoreIcon"  alt="ContentImage" class="AppleStoreIcon" > </div>
                <div> <img [src]="'assets/' + GoogleStoreIcon"  alt="ContentImage" class="GoogleStoreIcon"></div>
            </div> 
        </div>
    </div>
</div>


<div class="SavingContent">
    <div  class="content">
        <h1>Maximize Your Savings with Our <span id="Orange">Financial Planning Services</span> </h1>
    </div>

    <div >
        <img [src]="'assets/' + SavingPlnIcon" class="SavingPlnImg" alt="SavingPlnIcon" >
    </div>
</div>


<div>
    
</div>
