

    <app-header></app-header>

<h1 class="content1">Never worry about your <span id="Orange">EMIs</span > and <span id="Orange">Credit</span> card bills</h1>
<div class="Download">Download App</div>
<img [src]="'assets/' + homeimage1" class="loadimageone" alt="content1" >

<h2 class="content2">Make your life easier and <span id="Orange">systematically</span></h2>
<p class="content2">No worries, UIPE will remind you before the due date with balance reminder</p>

<div class="Homepart1">
    <div>
        <h2>Relax yourself when you have multiple <span id="Orange">EMI and credit card bills.</span></h2>
        <p>we manage all your loans and Credit card bills at one place and never miss to pay.</p>
    </div>
    <div >
        <img [src]="'assets/' + homeImagetwo" class="loadimageone" alt="content1" >
    </div>
</div>

<div class="Homepart2">
    
    <div >
        <img [src]="'assets/' + HomeImageThree" class="loadimageone" alt="content1" >
    </div>

    <div>
        <h2>Set the uses of the <span id="Orange">payment card as appropriate.</span></h2>
        <p>you can choose add and manage the use of payment card as you need</p>
    </div>
</div>

<div class="Homepart1">
    <div>
        <h2>Worried about<span id="Orange">  tracking your bills.</span></h2>
        <p>UIPE will track yours bills gives you real time notifications.</p>
    </div>
    <div >
        <img [src]="'assets/' + HomeImageFour" class="loadimageone" alt="content1" >
    </div>
</div>