.loadimageone{
width: 1000px;
text-align: center;
height: 700px;
margin: 0 15%;
}

.Download{
    height: 40px;
    width: 150px;
    color: white;
    background-color: #E54A62;
    border-radius: 64.5px;
    text-align: center;
    margin-top: 10px;
}