.loadimageone{
width: 1000px;
text-align: center;
height: 700px;
margin: 0 15%;
}

.Download{
    height: 30px;
    width: 150px;
    color: white;
    background-color: #E54A62;
    border-radius: 64.5px;
    text-align: center;
    padding-top: 10px;
    margin-left: 650px;
}
.content1{
    text-align: center;
}
.content2{
    text-align: center;
}

.Homepart1{
    /* //margin: 40px; */
    
    display: inline-flex;
    h2{
        margin-top: 110px;
        padding-left: 120px;
    }
    p{
        text-align: center;
    }

    img{
        height: 314px;
        width: 528px;
    }
}

.Homepart2{
    /* //margin: 40px; */
    
    display: inline-flex;
    h2{
        margin-top: 110px;
        padding-left: 120px;
    }
    p{
        text-align: center;
    }

    img{
        height: 314px;
        width: 478px;
    }
}

#contentcenter{
    text-align: center;
    margin-top: 35px;
}



.Blackbox{
 width: 650px;
height: 240px;
margin-left: 450px;
margin-top: 15px;
gap: 0px;
opacity: 0px;
background-color: black;
display: inline-flex;
border-radius: 20px;

img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;



}
.boxcontent{
    color: white;
    margin-left: 40px;
    padding-top: 50px;
    width: 350px;
}
.learnbtn{
    height: 30px;
    width: 180px;
    border: 1px white solid;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

}



.UIBranding{
    display: inline-flex;
    margin-top: 25px;
    margin-left: 270px;

    .image{
        img{
            width: 350px;
        height: 350px;
       
        }
    }

    .content{
        margin-top: 120px;
        margin-left: 40px;
        p{
            font-weight:lighter;
            font-size: large;
        }
    }
}

.SecureCardAdd{
    display: inline-flex;
    margin-left: 270px;

    .image{
        img{
            width: 350px;
        height: 350px;
       
        }
    }

    .content{
        margin-top: 120px;
        margin-left: 40px;
        p{
            font-weight:lighter;
            font-size: large;
            width: 530px;
        }
    }
}