<app-header></app-header>

<div class="AboutHead">
   <h1>Helping millions of Indians make smart financial choices</h1>
  </div>

  <div class="AboutContent">
    <h2 id="Orange">About us</h2>
    <p class="Welcome">Welcome to UIPE, the ultimate platform for tracking and managing your Equated Monthly Installments (EMIs) with ease and convenience.</p>
    <p class="content">We understand the challenges individuals face when it comes to keeping track ofmultiple EMIs, payment schedules, and deadlines. That's why we created thisplatform – to simplify your financial life and empower you to stay on top of your EMIcommitments effortlessly.</p>
  </div>


  <div class="FounderIntro">

    <div>
        <img [src]="'assets/' + Founderimg" class="Founderimg" alt="Founderimg" >
    </div>

    <div class="founderabout">
        <h1>Founder <span id="Orange">on a mission</span></h1>

    </div>

  </div>
  

